// colors
$c1: #ff994b;
$c2: #c83931;
$c2-active: #f14c42;
$c3: #008016;
$c4: #8c400f;
$c4-active: #9e501b;
$c5: #d0d0d0;
$background: #f0f0f0;

// sizes
$header-height: 100px;
$header-mobile-height: 150px;
$footer-height: 80px;
$footer-mobile-height: 120px;